[project]
	description = SSH for Ninjas
	state = hidden
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/bucknerns
[access "refs/for/refs/*"]
	read = group user/bucknerns
	push = group user/bucknerns
	label-Code-Review = -2..+2 group user/bucknerns
	label-Verified = -1..+1 group user/bucknerns
	rebase = group user/bucknerns
	removeReviewer = group user/bucknerns
	submit = group user/bucknerns
[access "refs/heads/*"]
	read = group user/bucknerns
	create = group user/bucknerns
	push = +force group user/bucknerns
	pushMerge = group user/bucknerns
[access "refs/tags/*"]
	push = +force group user/bucknerns
	pushTag = group user/bucknerns
	pushSignedTag = group user/bucknerns
